<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
        <add key="Sitecore Commerce" value="https://sitecore.myget.org/F/sc-commerce-packages/api/v3/index.json" />
        <add key="Sitecore PowerShell" value="https://sitecore.myget.org/F/sc-powershell/api/v3/index.json" />
    </packageSources>

    <packageRestore>
        <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
        <add key="enabled" value="True" />
        <!-- The 'automatic' key is set to True when the "Automatically check for missing packages during
             build in Visual Studio" checkbox is set. Clearing the box sets this to False and disables
             automatic restore. -->
        <add key="automatic" value="True" />
    </packageRestore>
</configuration>