<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration
                    name="Feature.SecurityHeaders"
                    description="SXA SecurityHeaders definition items"
                    patch:after="configuration[@name='Foundation.Serialization']">

                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" />
                    <roleDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Roles" />
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />

                    <predicate>
                        <include name="Settings" path="/sitecore/system/Settings/Feature/SecurityHeader" database="master" />
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SXA Security Headers" />
                        <include name="Insert Options" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Security Headers" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>