<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="SXA.Foundation.SecurityHeaders.DI.Configurator, SXA.Foundation.SecurityHeaders" />
        </services>
        <pipelines>
            <httpRequestProcessed>
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.HttpRequestProcessed.AddSecurityHeaders, SXA.Foundation.SecurityHeaders" resolve="true" />
            </httpRequestProcessed>
            <buildSecurityHeaders>
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.BuildSecurityHeaders.AddContentSecurityPolicy, SXA.Foundation.SecurityHeaders" resolve ="true" />
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.BuildSecurityHeaders.AddReferrerPolicy, SXA.Foundation.SecurityHeaders" resolve ="true" />
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.BuildSecurityHeaders.AddXssProtection, SXA.Foundation.SecurityHeaders" resolve ="true" />
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.BuildSecurityHeaders.AddStrictTransportSecurity, SXA.Foundation.SecurityHeaders" resolve ="true" />
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.BuildSecurityHeaders.AddXFrameOptions, SXA.Foundation.SecurityHeaders" resolve ="true" />
                <processor type="SXA.Foundation.SecurityHeaders.Pipelines.BuildSecurityHeaders.AddXContentTypeOptions, SXA.Foundation.SecurityHeaders" resolve ="true" />
            </buildSecurityHeaders>
        </pipelines>
    </sitecore>
</configuration>